<h1>STUPID COACHING</h1>
<p>Ask your coach anything</p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="write here">
  <input type="submit" value="Ask!">
</form>

